body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    box-sizing: border-box;

}

.container {
    display: flex;
    /* height:100vh; memakai seluruh tinggi yang tampil di layar */
    flex-direction:column; /* Agar flex-grow dapat memakai seluruh ruang tersisa */
    background-color: #ff9966;
}

@media only screen and (min-width: 768px) {
    .page {
        max-width: 50em;
        margin-left: auto;
        margin-right: auto;
    }
}

.title {
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1
{
    font-size: 2em;
    color: darkred;
}

a {
    text-decoration: none;
}

p {
    margin: 0.5em;
}

.logo {
    background: url("../img/unila-library-logo.png") center no-repeat;
    display: inline-block;
    height: 8em;
    width: 17em;
    
}

.page {
    display: inline-block;
    background-color: #FFF;
    flex-grow: 1; /* Memakai seluruh ruang tersisa */
}

.footer {
    flex: 0 1 content; /* selalu menyediakan ruang di paling bawah */
    background-color: darkred;
    color:#FFF;
    text-align: center;
}

.survey-form {
    margin-left: auto;
    margin-right: auto;
}
.input-field {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    font-size: 2em;
    text-align: center;
    min-width: 10em;
    margin: 0.5em;
}